body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --node-bg-color-hover: rgb(31, 161, 90);
}

.chart-container {
  padding-top: 10px;
  height: 1200px;
  background-color: white;
}

.position-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 4px 2px hsla(0, 0%, 80%, 0.3);
}

.position-card:hover {
  box-shadow: 0 0px 8px #eee, 1px 0 3px #0000001a, -1px 0 3px #0000001a;
  transform: scale(1.05);
  z-index: 999;
  transition: 0.1s all ease;
  cursor: pointer;
}

.position-card .name {
  font-size: 0.80rem;
  font-weight: 500;
  padding: 4px 8px;
}
.position-card .job-title {
  font-size: 0.80rem;
  font-weight: 500;
  padding: 4px 8px;
}

.position-info {
  align-items: flex-start;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.position-data {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}